@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');


body{
    font-family: 'Cabin', sans-serif;
}
main{
    max-width: 1440px;
    margin: 0 auto;
    /* overflow: hidden; */
}
*{
    margin:0;
    padding:0;
}


/******************************************nav-bar************************************/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 70px;
    margin-top: 7px;
    height:60px;
    background-color: white;
    font-weight: 700;
    color:black;
}
nav button{
    width:170px;
    height: 45px;;
    letter-spacing: 3px;
    font-size: 14px;
}
nav img{
    position: relative;
    top:35px;
}
.nav-links{
    display: flex;
    width:360px;
    color:rgb(54, 53, 53);
    justify-content: space-between;
}
.nav-links a{
    text-decoration: none;
    color:rgb(61, 61, 61);
    letter-spacing:3px;
    font-size: 17px;
    font-weight: 600;
    
}
.c{
    animation-name: c;
    animation-duration:1s;
}
.d{
    animation-name:d;
    animation-duration: 2.5s;
}
.e{
    animation-name: e;
    animation-duration: 4s;
}
.f{
    animation-name: f;
    animation-duration:6.5s;
}
.nav-links li{
    list-style: none;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
  width:25px;
  height:3px;
  background-color:rgb(0, 0, 0);
  transition:all 0.3s ease;
  margin:3px;
}
@keyframes c{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
@keyframes d{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @keyframes e{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  @keyframes f{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
@media(max-width:900px){
     nav button{
           visibility: hidden;
       } 
       .nav-links{
           position: absolute;
           z-index:+3;
           right:0;
           height:22vh;
           top:8vh;
          
           background-color: rgb(0, 0, 0);
           display: flex;
           flex-direction: column;
           /* align-items: center; */
           justify-content: space-around;
           width:100%;
           transform: translateY(-150%);
           transition: transform 0.5s ease-in;
       }
     
    
       .nav-links a{
        color:white;
       }
       .burger{
           display: block;
       }
}
.nav-active{
    transform: translateY(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity:1 ;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media(max-width:700px){
    nav img{
       top:10px;
    }
    nav{
        padding:0 2px
    }
}



/* Bounce To Right */
.hvr-bounce-to-right {
    font-weight: 700;
    border: none;
    background-color: black;
    color:white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: rgb(0, 0, 0);
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }


  /* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    cursor: pointer;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  
  








/***********************************************nav-end*****************************************/
.sec-1{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    height:470px;
}
.sec-1-div-2{
  
    max-width:800px;

}
.sec-1-div-2 img{
    width:100%;
    height:100%;
    object-fit:cover;
    
}

.sec-1-div-1{
    width:650px;
    background-color: black;
    color:white;
}

.sec-1 p{
    width:370px;
  color:rgb(105, 105, 105)
}

h1{
    font-weight: 700;
    width:370px;
    letter-spacing: 3px;
}

.sec-1-content{
    padding:150px 100px 0 100px;
}

@media(max-width:1000px){
.sec-1-div-2 img:not(:nth-child(2)){
    display: none;
   
}
.sec-1-content{
    padding:150px 80px 0 80px;
}




}
@media(min-width:1000px){
    .sec-1-div-2 img:not(:nth-child(1)){
        display: none;
    }


}

@media(max-width:700px){
    .sec-1-dev-2 img:not(:nth-child(3)){
        display: none;
    }
    .sec-1 {
        flex-direction: column;
    }
    .sec-1-div-1{
       width:100%;
        height:800px;
    }
    .sec-1-content{
      padding:100px 0;
      margin-left:50px;
      margin-right: auto;
    }
    .sec-1 p{
        width:70%
    }
    .sec-1-div-2 img{
        height:400px
       
      
       
    }
    

}/**************************sec-1-end************************/
/*********************sec-2*****************************************************/


.sec-2{
    max-width:1200px;
    margin:100px auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.sec-2 p{
    color:rgb(158, 158, 158)
}
.sec-2 div{
   
    margin:20px 20px;
}
.sec-2-div-1,.sec-2-div-2,.sec-2-div-3,.sec-2-div-4,.sec-2-div-5,.sec-2-div-6{
    text-align:center;
    
    

}
.sec-2 h3{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 700;
  
}
@media(max-width:1050px){
    .sec-2{
        grid-template-columns:auto auto;
        text-align:center;
       
    }
    .sec-2 div{
    margin:20px 10px;
    }
}
@media(max-width:700px){
    .sec-2{
        display:flex;
        flex-direction:column;
        margin:300px 0 10px 0;

    }
    .sec-2 div{
        margin:20px auto;
    }
}
/*******************************************sec-3******************************/
.sec-3{
  
    height:300px;
    position:relative;
   

}

.sec-3-content{
    position:absolute;
    bottom: 100px;
   width:96%;
    color:white;
    display: flex;
    flex-direction: row;
  justify-content: space-between;
   
}
.sec-3-content-1{
   
   height:150px;
    
    padding-left: 30px;


}
.sec-3-content-2{
    padding-top: 50px;
}
.sec-3-content-2 a{
 
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size: 15px;
   
  
}
@media(max-width:700px){
    .sec-3-content{
        flex-direction:column;
        bottom:60px;
        padding-left: 20px;
    }
    .sec-3-content-1{
        height:70px;
        padding:0;
    }
}











footer{
    background-color: black;
}
.footer1{
    background-color: black;
 
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding:70px 10px 0px 30px;
   
}
.f-1-2 a{
    display: block;
    text-decoration: none;
    color:white;
    font-size:13px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3px;
    
}
.f-1-2{
    padding-left: 90px;
    margin-top: 20px;
}
.f-1{
    display: flex;
}
.f-3 a{
    display: block;
    padding:5px 0;
    font-size:12px;
    padding-bottom: 80px;
    color:white;
    text-decoration: none;
}
.bottom-logo{
    padding-bottom: 80px;
}



.f-3 p{
    color:rgb(124, 124, 124);
    font-size: 12px;
    margin-right: 20px;
}
a:hover{
    text-decoration: underline;
}
@media(max-width:700px)
{
    .footer1{
         flex-direction: column; 
        text-align: center; 
        border:1px solid white;
    }
  .f-1{
    flex-direction: column;
    text-align: center;
    width:200px;
    margin:20px auto
   

  }
 
  .f-1-1 {
      text-align: center;

  }
  .f-1-2{
      padding:0;
  }
  .f-3{
   
    width:200px;
    margin:0 auto;
  }
  .bottom-logo{
      padding-bottom:0;
  }
  .f-3 a{
      padding-bottom:10px;
      padding-left: 10px;

  }
  .f-3 p{
      font-size: 16px;
  }
  .bottom-logo{
    padding-bottom: 20px;
    margin-left: 10px;
  }
}